@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables";

// Ejemplo de media query para pantallas pequeñas (móviles)
@media (max-width: 576px) {
  // Estilos para pantallas pequeñas
}

// Ejemplo de media query para pantallas medianas (tabletas)
@media (min-width: 768px) {
  // Estilos para pantallas medianas
}

// Ejemplo de media query para pantallas grandes (ordenadores)
@media (min-width: 992px) {
  // Estilos para pantallas grandes
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-color;
  background-color: #d6d6d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // variables de paleta tailwind

  --text-50: #f3f2f2;
    --text-100: #e6e5e5;
    --text-200: #cdcbcb;
    --text-300: #b4b1b1;
    --text-400: #9b9797;
    --text-500: #827d7d;
    --text-600: #686464;
    --text-700: #4e4b4b;
    --text-800: #343232;
    --text-900: #1a1919;
    --text-950: #0d0c0c;
    
    --background-50: #f3f2f2;
    --background-100: #e6e5e5;
    --background-200: #cdcbcb;
    --background-300: #b4b1b1;
    --background-400: #9b9797;
    --background-500: #827d7d;
    --background-600: #686464;
    --background-700: #4e4b4b;
    --background-800: #343232;
    --background-900: #1a1919;
    --background-950: #0d0c0c;
    
    --primary-50: #fce8e8;
    --primary-100: #fad1d1;
    --primary-200: #f5a3a3;
    --primary-300: #f07575;
    --primary-400: #eb4747;
    --primary-500: #e61919;
    --primary-600: #b81414;
    --primary-700: #8a0f0f;
    --primary-800: #5c0a0a;
    --primary-900: #2e0505;
    --primary-950: #170303;
    
    --secondary-50: #ffeee6;
    --secondary-100: #fedccd;
    --secondary-200: #fdba9b;
    --secondary-300: #fd9768;
    --secondary-400: #fc7536;
    --secondary-500: #fb5204;
    --secondary-600: #c94203;
    --secondary-700: #973102;
    --secondary-800: #642102;
    --secondary-900: #321001;
    --secondary-950: #190800;
    
    --accent-50: #fff0e6;
    --accent-100: #ffe0cc;
    --accent-200: #fec29a;
    --accent-300: #fea367;
    --accent-400: #fe8534;
    --accent-500: #fe6601;
    --accent-600: #cb5201;
    --accent-700: #983d01;
    --accent-800: #652901;
    --accent-900: #331400;
    --accent-950: #190a00;
}
/* darkmode */
.dark {
  --text-50: #0d0c0c;
  --text-100: #1a1919;
  --text-200: #343232;
  --text-300: #4e4b4b;
  --text-400: #686464;
  --text-500: #827d7d;
  --text-600: #9b9797;
  --text-700: #b4b1b1;
  --text-800: #cdcbcb;
  --text-900: #e6e5e5;
  --text-950: #f3f2f2;
  
  --background-50: #0d0c0c;
  --background-100: #1a1919;
  --background-200: #343232;
  --background-300: #4e4b4b;
  --background-400: #686464;
  --background-500: #827d7d;
  --background-600: #9b9797;
  --background-700: #b4b1b1;
  --background-800: #cdcbcb;
  --background-900: #e6e5e5;
  --background-950: #f3f2f2;
  
  --primary-50: #170303;
  --primary-100: #2e0505;
  --primary-200: #5c0a0a;
  --primary-300: #8a0f0f;
  --primary-400: #b81414;
  --primary-500: #e61919;
  --primary-600: #eb4747;
  --primary-700: #f07575;
  --primary-800: #f5a3a3;
  --primary-900: #fad1d1;
  --primary-950: #fce8e8;
  
  --secondary-50: #190800;
  --secondary-100: #321001;
  --secondary-200: #642102;
  --secondary-300: #973102;
  --secondary-400: #c94203;
  --secondary-500: #fb5204;
  --secondary-600: #fc7536;
  --secondary-700: #fd9768;
  --secondary-800: #fdba9b;
  --secondary-900: #fedccd;
  --secondary-950: #ffeee6;
  
  --accent-50: #190a00;
  --accent-100: #331400;
  --accent-200: #652901;
  --accent-300: #983d01;
  --accent-400: #cb5201;
  --accent-500: #fe6601;
  --accent-600: #fe8534;
  --accent-700: #fea367;
  --accent-800: #fec29a;
  --accent-900: #ffe0cc;
  --accent-950: #fff0e6;
  
}


a {
  font-weight: 500;
  color: $text-color;
  text-decoration: inherit;
}
a:hover {
  color:$text-color;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
 width: 100vw;
 overflow: hidden;
 min-height: 100vh;
}

